<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Nutripro{% endblock %}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/fontawesome/all.min.css">
</head>
<body class="">
    <h2>NO ENCONTRADO</h2>
</body>
</html>