{% extends "base.njk" %}

{% block pagetitle %} Enfermedades o padecimientos {% endblock %}

{% block content %}
    <p>En esta sección tienes un listado de enfermedades comunes que pueden ser relevantes para
        tu evaluación clínica. Puedes agregar más, y editar las existentes. Además, puedes relacionar
        esta enfermedad como producto de una interacción Fármaco-Alimento en la sección <a href="/interacciones" class="link-offset-1">"Interacciones"</a>
    </p>
    <div id="" class="mt-4 table-responsive">

        <div class="d-flex justify-content-between mb-2">
            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregar">Agregar Enfermedad <i class="fa-solid fa-plus"></i>
            </button>
            <input type="text" id="searchBox" class="search-box form-control form-control-sm" placeholder="Buscar enfermedad por nombre"/>
        </div>
        <div id="diseaseTable" class="border mt-3">
            {# TABLA DINAMICA #}
        </div>
    </div>

    {# MODAL AGREGAR #}
    <div class="modal fade" id="modalAgregar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAgregarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalAgregarLabel">Agregar nueva enfermedad o padecimiento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="my-2">Los campos con <span class="text-danger">*</span> son obligatorios</p>
                    <form id="formRegistrar" class="row g-3">
                        <div class="col-md-12">
                            <label for="" class="form-label">Nombre<span class="text-danger">*</span></label>
                            <input type="text" name="name" required class="form-control form-control-sm"/>
                        </div>
                        <div class="col-md-12">
                            <label for="" class="form-label">Descripción</label>
                            <input type="text" name="description" class="form-control form-control-sm"/>
                        </div>
                        <div class="col-12">
                            <label for="" class="form-label">Observaciones adicionales</label>
                            <textarea name="observations" class="form-control" id="" placeholder="Aqui puede escribir algún tipo de información relevante que considere conveniente"></textarea>
                        </div>
                        <div class="col-12">
                            <label for="" class="form-label">Sintomas</label>
                            {# <input type="textarea" name="symptom" class="form-control form-control-sm" id="" placeholder=""> #}
                            <textarea id="symptom" name="symptom" class="form-control" rows="3" cols="30" placeholder="Puede escribir varios sintomas separados por coma ",""></textarea>
                        </div>

                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    {# MODAL EDITAR #}
    <div class="modal fade" id="modalEditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalEditarLabel">Agregar nueva enfermedad o padecimiento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="my-2">Los campos con <span class="text-danger">*</span> son obligatorios</p>
                    <form id="formRegistrar" class="row g-3">
                        <div class="col-md-12">
                            <label for="" class="form-label">Nombre<span class="text-danger">*</span></label>
                            <input type="text" name="name" required class="form-control form-control-sm" id="">
                        </div>
                        <div class="col-md-12">
                            <label for="" class="form-label">Descripción</label>
                            <input type="text" name="description" class="form-control form-control-sm" id="">
                        </div>
                        <div class="col-12">
                            <label for="" class="form-label">Observaciones adicionales</label>
                            <textarea name="observations" class="form-control" id="" placeholder="Aqui puede escribir algún tipo de información relevante que considere conveniente"></textarea>
                        </div>
                        <div class="col-12">
                            <label for="" class="form-label">Sintomas</label>
                            {# <input type="textarea" name="symptom" class="form-control form-control-sm" id="" placeholder=""> #}
                            <textarea id="symptom" name="symptom" class="form-control" rows="3" cols="30" placeholder="Puede escribir varios sintomas separados por coma ",""></textarea>
                        </div>

                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        
        const tableData = {{ (diseases | default([])) | dump | safe }};
        const tabla = new Tabulator("#diseaseTable", {
            locale: "es-es",
            langs: LANG.langs,
            data: tableData,
            layout: "fitColumns",
            pagination: "local",
            paginationSize: 10,
            responsiveLayout: true,
            columns: [
                {
                    title: "Nombre",
                    field: "name"
                }, {
                    title: "Descripción",
                    field: "description"
                },{
                    title: "Observaciones",
                    field: "observations"
                }, {
                    title: "Sintomas",
                    field: "symptom"
                }, {
                    title: "Acciones",
                    formatter: (cell) => {
                        const id = cell
                            .getRow()
                            .getData()
                            .id
                        return `
                    <button class="btn btn-warning btn-sm editar" data-bs-toggle="modal" data-bs-target="#modalEditar"><i class="fa-solid fa-pen"></i></button>
                    `
                    },
                    width: 140,
                    cellClick: (e, cell) => {
                        const data = cell
                            .getRow()
                            .getData();

                        fillModalForm(data);
                        if (e.target.classList.contains("editar")) {
                            console.log("Editar:", data);
                        }

                        if (e.target.classList.contains("eliminar")) {
                            console.log("Eliminar:", data);
                        }
                    }
                }
            ]
        })

        document
            .getElementById("searchBox")
            .addEventListener("keyup", (e) => {
                tabla.setFilter("name", "like", e.target.value);
            });
    </script>
    <script src="/js/sweetAlertHelper.js"></script>
    <script src="/js/disease/diseaseCrud.js"></script>
{% endblock %}