{% extends "base.njk" %}

{% block pagetitle %} Fármacos {% endblock %}

{% block content %}

  {# {% include "layouts/content_header.njk"%} #}

  {# BLOQUE DE TABLA #}
  <div id="" class="mt-4 table-responsive">

    <div class="d-flex justify-content-between mb-2">
      <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregar">Agregar Fármaco <i class="fa-solid fa-plus"></i>
      </button>
      <input type="text" id="searchBox" class="search-box form-control form-control-sm" placeholder="Buscar farmaco por nombre"/>
    </div>
    <div id="drugsTable" class="border mt-3">
      {# TABLA DINAMICA #}
    </div>
  </div>

  {# MODAL AGREGAR #}
  <div class="modal fade" id="modalAgregar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAgregarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalAgregarLabel">Agregar nuevo fármaco</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="my-2">Los campos con <span class="text-danger">*</span> son obligatorios</p>
          <form id="formRegistrar" class="row g-3">
            <div class="col-md-6">
              <label for="" class="form-label">Nombre<span class="text-danger">*</span></label>
              <input type="text" name="name" required class="form-control form-control-sm" id="">
            </div>
            <div class="col-md-6">
              <label for="" class="form-label">Genérico <span class="text-danger">*</span></label>
              <input type="text" name="generic" required class="form-control form-control-sm" id="">
            </div>
            <div class="col-12">
              <label for="" class="form-label">Descripción</label>
              <input type="text" name="description" class="form-control form-control-sm" id="" placeholder="Mecanismo de accion, biodisponibilidad, etc">
            </div>
            <div class="col-6">
              <label for="" class="form-label">Dosis</label>
              <input type="text" name="dosage" class="form-control form-control-sm" id="" placeholder="">
            </div>
            <div class="col-6">
              <label for="" class="form-label">Período de tratamiento</label>
              <input type="text" name="treatmentPeriod" class="form-control form-control-sm" id="" placeholder="">
            </div>

            {# Este sera para grupo farmacologico #}
            <div class="col-md-6">
              <label for="inputState" class="form-label">Grupo Farmacológico <span class="text-danger">*</span></label>
              <select name="pharmaGroupId" id="pharmaGroupId" class="form-select form-select-sm" required aria-label="Small select example">
                <option selected>Seleccione el grupo farmacologico</option>
                {% if pharmagroups is defined and pharmagroups | length > 0 %}
                  {% for item in pharmagroups %}
                    <option value={{item.id}}>{{ item.name }}</option>
                  {% endfor %}
                {% else %}
                  <option>"No hay elementos para seleccionar"</option>
                {% endif %}
              </select>
            </div>
            {# Este sera para grupo farmacologico #}
            {# Este sera para presentacion #}
            <div class="col-md-6">
              <label for="inputState" class="form-label">Presentación <span class="text-danger">*</span></label>
              <select name="presentationId" id="presentationId" class="form-select form-select-sm" required aria-label="Small select example">
                <option selected>Seleccione la presentación del fármaco</option>
                {% if presentations is defined and presentations | length > 0 %}
                  {% for item in presentations %}
                    <option value={{item.id}}>{{ item.description }}</option>
                  {% endfor %}
                {% else %}
                  <option>"No hay elementos para seleccionar"</option>
                {% endif %}
              </select>
            </div>
            {# Este sera para presentacion #}

            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-success btn-sm">Guardar</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  {# MODAL EDICION #}
  <div class="modal fade" id="modalEditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalEditarLabel">Editar info fármaco</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="my-2">Los campos con <span class="text-danger">*</span> son obligatorios</p>
          <form id="formEditar" class="row g-3">
            <input type="hidden" class="form-control form-control-sm" name="id" id="id" placeholder="">
            <div class="col-md-6">
              <label for="" class="form-label">Nombre<span class="text-danger">*</span></label>
              <input type="text" name="name" required class="form-control form-control-sm" id="">
            </div>
            <div class="col-md-6">
              <label for="" class="form-label">Genérico <span class="text-danger">*</span></label>
              <input type="text" name="generic" required class="form-control form-control-sm" id="">
            </div>
            <div class="col-12">
              <label for="" class="form-label">Descripción</label>
              <input type="text" name="description" class="form-control form-control-sm" id="" placeholder="Mecanismo de accion, biodisponibilidad, etc">
            </div>
            <div class="col-6">
              <label for="" class="form-label">Dosis</label>
              <input type="text" name="dosage" class="form-control form-control-sm" id="" placeholder="">
            </div>
            <div class="col-6">
              <label for="" class="form-label">Período de tratamiento</label>
              <input type="text" name="treatmentPeriod" class="form-control form-control-sm" id="" placeholder="">
            </div>

            {# Este sera para grupo farmacologico #}
            <div class="col-md-6">
              <label for="inputState" class="form-label">Grupo Farmacológico <span class="text-danger">*</span></label>
              <select name="pharmaGroupId" id="pharmaGroupId" class="form-select form-select-sm" required aria-label="Small select example">
                <option selected>Seleccione el grupo farmacologico</option>
                {% if pharmagroups is defined and pharmagroups | length > 0 %}
                  {% for item in pharmagroups %}
                    <option value={{item.id}}>{{ item.name }}</option>
                  {% endfor %}
                {% else %}
                  <option>"No hay elementos para seleccionar"</option>
                {% endif %}
              </select>
            </div>
            {# Este sera para grupo farmacologico #}
            {# Este sera para presentacion #}
            <div class="col-md-6">
              <label for="inputState" class="form-label">Presentación <span class="text-danger">*</span></label>
              <select name="presentationId" id="presentationId" class="form-select form-select-sm" required aria-label="Small select example">
                <option selected>Seleccione la presentación del fármaco</option>
                {% if presentations is defined and presentations | length > 0 %}
                  {% for item in presentations %}
                    <option value={{item.id}}>{{ item.description }}</option>
                  {% endfor %}
                {% else %}
                  <option>"No hay elementos para seleccionar"</option>
                {% endif %}
              </select>
            </div>
            {# Este sera para presentacion #}

            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-success btn-sm">Guardar</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script>
    {# const tableData = {{ drugs | dump | safe}} #}
    const tableData = {{ (drugs | default([])) | dump | safe }};
    const tabla = new Tabulator("#drugsTable", {
      locale: "es-es",
      langs: LANG.langs,
      data: tableData,
      layout: "fitColumns",
      pagination: "local",
      paginationSize: 10,
      responsiveLayout: true,
      columns: [
        {
          title: "Nombre Comercial",
          field: "name"
        }, {
          title: "Nombre Genérico",
          field: "generic"
        }, {
          title: "Decripcion",
          field: "description"
        }, {
          title: "Dosis",
          field: "dosage"
        }, {
          title: "Período de tratamiento",
          field: "treatmentPeriod"
        },
        {
          title: "Grupo Farmacológico",
          field: "pharmagroup.name"
        },
        {
          title: "Presentación",
          field: "drugPresentation.description"
        }
        , {
          title: "Acciones",
          formatter: (cell) => {
            const id = cell
              .getRow()
              .getData()
              .id
            return `
                    <button class="btn btn-warning btn-sm editar" data-bs-toggle="modal" data-bs-target="#modalEditar"><i class="fa-solid fa-pen"></i></button>
                    `
          },
          width: 140,
          cellClick: (e, cell) => {
            const data = cell
              .getRow()
              .getData();

            fillModalForm(data);
            if (e.target.classList.contains("editar")) {
              console.log("Editar:", data);
            }

            if (e.target.classList.contains("eliminar")) {
              console.log("Eliminar:", data);
            }
          }
        }
      ]
    })

    document
      .getElementById("searchBox")
      .addEventListener("keyup", (e) => {
        tabla.setFilter("name", "like", e.target.value);
      });
  </script>
  <script src="/js/sweetAlertHelper.js"></script>
  <script src="/js/drug/drugCrud.js"></script>
{% endblock %}

{# 
{% %} {% endblock %}
{% %} {% endblock %}
{% %} {% endblock %}
{% %} {% endblock %} #}