{% extends "base.njk" %}

{% block pagetitle %} Inicio {% endblock %}

{% block content %}

    <div class="mx-auto p-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded" >

        <div class="w-100">
            <h1 class="text-center text-success">Bienvenido a NutriLife</h1>
            <hr/>
        </div>
        <div class="w-75 px-5 mx-auto">
            <h2 class="my-3">¿Qué es NutriLife?</h2>
            <p class="fs-5">
                    NutriLife es una herramienta tecnológica de apoyo para nutricionistas, que integra conocimientos clínicos, 
                    bioquímicos y nutricionales en una sola plataforma, contribuyendo a una atención nutricional más eficiente, 
                    segura y basada en evidencia.
                </p>
                <p class="fs-5">
                    El manejo tradicional de la información en la consulta nutricional, caracterizado por el
                    uso de métodos manuales y la dispersión de los registros de pacientes, representa una
                    barrera significativa para la eficiencia y la estandarización de los procesos clínicos. Esta
                    dependencia de herramientas no digitales no solo incrementa el riesgo de errores en la
                    recopilación de datos, sino que también consume una considerable cantidad de tiempo
                    que podría dedicarse a la atención directa y al análisis clínico.
                </p>
                <p class="fs-5">
                    Frente a esta necesidad, surge la propuesta de “NutriLife”, un sistema informático de
                    apoyo para profesionales de nutrición, enfocado a docentes y estudiante de la UCEM.
                    NutriLife tiene como propósito mejorar la gestión, evaluación y seguimiento de pacientes
                    mediante la integración de módulos técnicos interrelacionados.
                </p>

            <h3 class="my-4">Objetivo General del proyecto</h3>
            <p class="fs-5">
                    Desarrollar una plataforma integral que facilite la gestión de la información nutricional, 
                    mejore la comunicación entre nutricionistas y pacientes, y optimice el proceso de toma de decisiones clínicas.
                </p>

            <h3 class="my-4">Objetivos Específicos</h3>
            <ul>
                <li class="fs-5 my-3">Incorporar en el sistema módulos que permitan registrar medicamentos prescritos
                    y su interacción con los nutrientes, promoviendo un seguimiento seguro de las
                    terapias nutricionales.</li>
                <li class="fs-5 my-3">Relacionar los conocimientos sobre farmacocinética y farmacodinamia con el
                    diseño de alertas automáticas que eviten posibles interacciones fármaco-nutriente
                    en pacientes.</li>
                
                <li class="fs-5 my-3">Integrar una base de datos de alimentos con su composición bromatológica,
                    permitiendo al profesional realizar análisis de calidad y valor nutricional.</li>
                
                <li class="fs-5 my-3">Aplicar los principios de la bromatología para categorizar alimentos según su
                    aporte nutricional, nivel de procesamiento y seguridad para el consumo.</li>
                
                <li class="fs-5 my-3">Incorporar dentro del sistema secciones informativas o de control que se ajusten
                    a las políticas y leyes locales de seguridad alimentaria y nutricional (SAN).</li>
                
                <li class="fs-5 my-3">Promover el diseño de menús o planes alimentarios que se alineen con las guías
                    alimentarias nacionales y los principios del derecho a la alimentación adecuada.</li>
                
                <li class="fs-5 my-3">Utilizar el sistema informático como plataforma de apoyo para la educación
                    sanitaria sobre manipulación y conservación segura de alimentos en contextos
                    familiares y comunitarios.</li>

                <li class="fs-5 my-3">Incorporar en el sistema un catálogo educativo sobre microorganismos benéficos
                    utilizados en fermentaciones tradicionales (como Lactobacillus spp.,Saccharomyces cerevisiae, etc.), destacando su papel en la salud intestinal y la
                    nutrición.</li>
                
                <li class="fs-5 my-3">Integrar parámetros bioquímicos (glucosa, lípidos, proteínas, etc.) en el perfil del
                    paciente, permitiendo su análisis y relación con el estado nutricional</li>
                
                <li class="fs-5 my-3">Aplicar los fundamentos de la bioquímica clínica para interpretar resultados y
                    generar reportes personalizados que apoyen la toma de decisiones del profesional
                    de la nutrición.</li>
            </ul>
        </div>

    </div>

{% endblock %}