<!-- src/views/index.njk -->
<html>
  <head><title>{{ title }}</title></head>
  <body>
    {% include "header.njk" %}
    <h1>Bienvenido a mi página {{ name }}</h1>
    {% include "footer.njk" %}
  </body>
</html>
