{% extends "base.njk" %}

{% block pagetitle %} Interacciones Farmaco-Alimentos {% endblock %}
{% block username %}
  {{ username }}
{% endblock %}

{% block content %}

{% endblock %}


{% block scripts %}

{% endblock %}
