{% extends "base.njk" %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Nutripro{% endblock %}
        </title>
        {# <link rel="stylesheet" href="/css/tabulator_bootstrap5.min.css"> #}
        {# <script src="/js/tabulator.min.js"></script> #}
        {# <script src="/js/tabulatorTLang.js"></script>
  <script src="/js/sweetalert2.all.min.js"></script> #}
    </head>
    <body>
        {% block pagetitle %}Pacientes{% endblock %}
        {% block content %}
            <button class="btn btn-sm btn-primary">Agregar paciente <i class="fa-solid fa-plus"></i>
            </button>
            <div id="tabla-pacientes table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Edición</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Juan</td>
                            <td>Perez</td>
                            <td>35</td>
                            <td>85468162</td>
                            <td><button class="btn btn-sm btn-warning"><i class="fa-solid fa-pen"></i></button></td>
                            <td><button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td>Mónica</td>
                            <td>Sanchez</td>
                            <td>40</td>
                            <td>85468162</td>
                            <td><button class="btn btn-sm btn-warning"><i class="fa-solid fa-pen"></i></button></td>
                            <td><button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endblock %}
    </body>
    <script src="/js/bootstrap.bundle.min.js"></script>

</html>