{% extends "base.njk" %}

{% block pagetitle %}Pacientes{% endblock %}
{% block username %}
  {{ username }}
{% endblock %}

{% block content %}
  <div id="" class="mt-4 table-responsive">

    <input id="searchFood" class="form-control form-control-sm mb-3" placeholder="Buscar alimento..." style="max-width:250px">
    <div id="patientTable" class="border">
      {# TABLA DINAMICA #}
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar nuevo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="inputCity" class="form-label">Nombres</label>
              <input type="text" class="form-control form-control-sm" id="inputCity">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">Apellidos</label>
              <input type="text" class="form-control form-control-sm" id="inputCity">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">Teléfono</label>
              <input type="text" class="form-control form-control-sm" id="inputCity">
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control form-control-sm" id="inputEmail4">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Dirección</label>
              <input type="text" class="form-control form-control-sm" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">Sexo</label>
              <select id="inputState" class="form-select form-select-sm">
                <option selected>Seleccionar</option>
                <option>M</option>
                <option>F</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="inputZip" class="form-label">Edad</label>
              <input type="number" class="form-control form-control-sm" id="inputZip">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-success btn-sm">Guardar</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    const tableData = {{ patients | dump | safe}}
    const tabla = new Tabulator("#patientTable", {
      locale: "es-es",
      langs: LANG.langs,
      data: tableData,
      layout: "fitColumns",
      pagination: "local",
      paginationSize: 10,
      responsiveLayout: true,
      columns: [
        {
          title: "Codigo",
          field: "code"
        }, {
          title: "Nombre",
          field: "name"
        }, {
          title: "Agua",
          field: "aqua"
        }, {
          title: "Energía",
          field: "energy"
        }, {
          title: "Proteína",
          field: "protein"
        }, {
          title: "Grasa Total",
          field: "energy"
        }, {
          title: "Carbohidratos",
          field: "carbs"
        }, {
          title: "Acciones",
          formatter: (cell) => `
                        <button class="btn btn-warning btn-sm editar" data-bs-toggle="modal" data-bs-target="#modalEditar"><i class="fa-solid fa-pen"></i></button>
                    `,
          width: 140,
          cellClick: (e, cell) => {
            const data = cell
              .getRow()
              .getData();

            fillModalForm(data);
            if (e.target.classList.contains("editar")) {
              console.log("Editar:", data);
            }

            if (e.target.classList.contains("eliminar")) {
              console.log("Eliminar:", data);
            }
          }
        }
      ]
    }) {
      # Busqueda dinamica #
    }
    document
      .getElementById("searchFood")
      .addEventListener("keyup", (e) => {
        table.setFilter("name", "like", e.target.value);
      });
  </script>
  <script src="/js/sweetAlertHelper.js"></script>
  <script src="/js/food/foodCrud.js"></script>
{% endblock %}