<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Nutripro{% endblock %}
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome/all.min.css">
    <link rel="stylesheet" href="/css/tabulator.min.css">
    <link rel="stylesheet" href="/css/tabulator_bootstrap5.min.css">
    <script src="/js/tabulator.min.js"></script>
    {# <script src="/js/tabulatorTLang.js"></script> #}
    <style>

      .logo {
        max-width: 200px;
      }
      @media print {
        .logo {
          max-width: 200px;
        }

        .header {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }

        .patient-data {
          display: flex;
          justify-content: space-between;
          margin: 20px auto;
        }

      }

      @page {
        size: landscape;
        margin: 10mm;
      }
    </style>
  </head>
  <body class="container my-5">
    <header class="header p-3 d-flex justify-content-between align-items-end">
      <img class="logo" src="http://localhost:3000/assets/img/nutriLifeLogo.png"></img>
      <div>
        <h5 class="text-end">Manuel Caceres M.</h5>
        <span>Lic. en nutrición graduado en UCEM</span>
      </div>
    </header>
    <hr>

    <div class="patient-data my-3 d-flex justify-content-between">
      <p>
        <span class="fw-bold">Paciente:</span> Fulanito Perez</p>
      <p>
        <span class="fw-bold">Edad:</span> 28</p>
      <p>
        <span class="fw-bold">Sexo:</span> M</p>
      <p>
        <span class="fw-bold">Estatura:</span> 1.7m</p>
    </div>

    <h5>Plan Nutricional</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>John</td>
          <td>Doe</td>
          <td>@social</td>
        </tr>
      </tbody>
    </table>

    {% import "menuTable.njk" as menuTable %}

    <h2>Menú Nutricional Semanal</h2>

    {{ menuTable.renderMenuTable(nutritionalMenu) }}
  </body>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/tabulatorLang.js"></script>

  {% block scripts %}{% endblock %}
</html>