<div class="card">
    <h5 class="card-header">
        <i class="fa-solid fa-flask-vial"></i> Datos Bioquímicos y Medidas Analíticas</h5>
    <div class="card-body">
        <h5>Perfil de Lípidos y Glucosa</h5>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="" class="form-label">Colesterol Total</label>
                <input type="number" step="any" inputmode="decimal" class="form-control form-control-sm" id="ct" >
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">Hemoglobina Glicosilada</label>
                <input type="number" step="any" inputmode="decimal" class="form-control form-control-sm" id="hgl" >
            </div>
            
            
            <div class="col-md-6">
                <label for="" class="form-label">Colesterol LDL</label>
                <input type="number" step="any" inputmode="decimal" class="form-control form-control-sm" id="ldl" >
            </div>

            <h5>Referencias para determinar síndrome metabólico</h5>
            <div class="col-md-6">
                <label for="" class="form-label">Colesterol HDL</label>
                <input type="number" step="any" inputmode="decimal" class="form-control form-control-sm" id="hdl" >
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">Triglicéridos</label>
                <input type="number" step="any" inputmode="decimal" class="form-control form-control-sm" id="tgc" >
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">Glucosa en ayunas</label>
                <input type="number" step="any" inputmode="decimal" class="form-control form-control-sm" id="gl" placeholder="Normal menor o igual a 110">
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">Presión Sistólica</label>
                <input type="number" step="any" inputmode="decimal" class="form-control form-control-sm" id="sistolica" placeholder="Normal 115 - 120" >
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">Presión Diastólica</label>
                <input type="number" step="any" inputmode="decimal" class="form-control form-control-sm" id="diastolica" placeholder="Normal 75 - 80" >
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">Circunferencia de cintura</label>
                <input type="number" step="any" inputmode="decimal" class="form-control form-control-sm" id="waist" placeholder="Medida en cm" >
            </div>

            <hr>
            <h5>Medidas corporales</h5>
            <div class="col-md-6">
                <label for="" class="form-label">Perímetro de pantorrilla</label>
                <input type="number" step="any" inputmode="decimal" class="form-control form-control-sm" id="calf" placeholder="Medida en cm" >
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <button type="button" id="btnCalcDB" class="btn btn-sm btn-success mt-2">Calcular Valores</button>
            </div>
            <div class="col-12">
                {# <button type="submit" class="btn btn-sm btn-primary">Guardar</button> #}
            </div>
        </form>

        <div id="refCoronary" role="alert"></div>

        <hr>
        <div id="messagesContainer"></div>
    </div>
</div>