<div id="" class="mt-4 table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre C</th>
                <th>Nombre G</th>
                <th>Grupo Farmacológico</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Controlip</td>
                <td>Atorvastatina</td>
                <td>Estatinas</td>
                <td>medicamentos que reducen los niveles de colesterol y otras grasas en la sangre</td>
            </tr>
        </tbody>
    </table>
</div>

    {# <td>
        <button class="btn btn-sm btn-warning">
            <i class="fa-solid fa-pen"></i>
        </button>
    </td>
    <td>
        <button class="btn btn-sm btn-danger">
            <i class="fa-solid fa-trash"></i>
        </button>
    </td> #}